<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

		<style>
			h2 {
				display: block;
				text-align: center;
				margin-bottom: 0.5rem;
				padding: 2rem;
				color: #6097a9;
			}

			.categories {
				background-color: #f1f1f1;
			}

			.categories {
				text-align: center;
			}

			.categories ul {
				list-style: none;
				display: block;
				list-style-type: disc;
				margin-block-start: 1em;
				margin-block-end: 1em;
				margin-inline-start: 0;
				margin-inline-end: 0;
				padding-inline-start: 0;
				width: 50%;
				margin: auto;
			}

			#categ1 {
				background-image: url('https://www.dropbox.com/s/sz7d3pv0anrioxg/handmade-4926871_640.jpg?raw=1');
			}

			#categ2 {
				background-image: url('https://www.dropbox.com/s/a611a08nsmx0c9a/22.jpg?raw=1');
			}

			.slidupCont {
				position: relative;
				height: 25vh;
			}

			.categories li {
				width: 19vw;
				height: 25vh;
				margin: auto 15px 2em;
				padding: 0;
				display: inline-block;
				box-sizing: border-box;
				background-repeat: no-repeat;
				background-size: cover;
				background-color: #ca938f;
				background-position: center right;
				border-bottom: 5px solid rgb(54, 118, 159);
				overflow: hidden;
				transition: all 0.5s;
			}

			.categories a {
				text-decoration: none;
			}

			.categories a:hover {
				text-decoration: none;
			}

			.cont-txt h3 {
				text-align: center;
				vertical-align: middle;
				display: block;
				background: transparent;
				text-decoration: none;
				padding: 15px 15px 20px;
				transition: color 0.3s ease-out;
			}

			.cont-txt {
				z-index: 5;
				position: inherit;
			}

			.cont-txt h3:hover {
				-ms-transform: scale(1.1);
				-moz-transform: scale(1.1);
				-webkit-transform: scale(1.1);
				-o-transform: scale(1.1);
				transform: scale(1.1);
			}


			/* //// Default effect: Slide from Top //// */

			.buttonfx {
				color: #313030;
				outline: none;
				background: transparent;
				border: none;
				border-bottom: 4px solid #eee;
				text-transform: uppercase;
				font: bold 16px 'Bitter', sans-serif;
				line-height: 2;
				position: relative;
				display: inline-block;
				margin-bottom: 20px;
				cursor: pointer;
				text-decoration: none;
				overflow: hidden;
				transition: all 0.5s;
			}

			.buttonfx:before,
			.buttonfx:after {
				content: '';
				position: absolute;
				left: 0;
				top: 0;
				right: 0;
				bottom: 0;
				height: 100%;
				background: rgba(53, 102, 111, 0.75);
				z-index: 1;
				transform: translate3D(0, 100%, 0);
				transition: all 0.5s;
			}

			.buttonfx:before {
				z-index: -2;
				transform: translate3D(0, 0, 0);
			}

			.buttonfx:hover {
				color: white;
				font-weight: bold;
			}

			.buttonfx:hover:after {
				transform: translate3D(0, 0, 0);
				transition: all 0.5s;
			}
			* {
				box-sizing: border-box;
			}

			body {
				margin: 0;
				padding: 0;
				font-family: 'Open Sans', sans-serif;
				font-size: 16px;
				background: cornsilk;
				color: #333;
			}

			a {
				text-decoration: none;
			}

			.button {
				padding: 10px;
				border-radius: 5px;
				display: inline-block;
				background: steelblue;
				color: white;
				font-size: 12px;
				font-weight: bold;
			}

			.container {
				max-width: 960px;
				width: 100%;
				margin: 0 auto;
			}

			.header {
				overflow: hidden;
				height: 65px;
			}

			.header a {
				color: inherit;
			}

			.header a:hover {
				font-weight: bold;
			}

			.header-logo {
				float: left;
			}

			.header-nav {
				float: right;
			}

			.header-nav ul li {
				display: inline-block;
				margin: 0 20px;
			}

			.products {
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
			}

			.product {
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				max-width: 310px;
				width: 100%;
				padding: 10px;
				margin-bottom: 10px;
				border-radius: 5px;
				background: azure;
			}


			.product span {
				font-weight: bold;
			}

			.product-image img {
				display: block;
				max-width: 228px;
				width: 100%;
				margin: 0 auto;
			}

			. .row .product:last-child {
				margin-right: 0;
			}

			.product-add-to-cart {
				overflow: hidden;
				clear: both;
				margin-top: 10px;
			}

			.see-more {
				float: left;
				background: indianred;
			}

			.add-to-cart {
				float: right;
			}

			.shopping-cart {
				position: fixed;
				top: 0;
				right: 0;
				width: 300px;
				min-heigh: 300px;
				margin-right: 20px;
				margin-top: 10px;
				padding: 20px;
				background: wheat;
			}

			.shopping-cart-head {
				background: steelblue;
				color: white;
				padding: 5px;
			}

			.shopping-cart,
			.shopping-cart-head {
				border-radius: 5px;
			}

			.empty-cart-btn,
			.cart-checkout {
				display: none;

			}

			.empty-cart-btn {
				margin-bottom: 5px;
			}

			.cart-checkout {
				background: limegreen;
			}
		</style>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link
		rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<body>
		{% block navbar%}
			<div class="container">
				<header>
					<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
						<a class="navbar-brand" href="#">Softsquare Boutique</a>
						<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
							<span class="navbar-toggler-icon"></span>
						</button>
						<div class="collapse navbar-collapse" id="navbarCollapse">
							<ul class="navbar-nav mr-auto">
								<li class="nav-item active">
									<a class="nav-link" href="#">Nos produits</a>
								</li>
								<li class="nav-item active">
									<a class="nav-link" href="#">Qui sommes-nous ?</a>
								</li>
								<li class="nav-item active">
									<a class="nav-link" href="#">Contact</a>
								</li>
							</ul>
							<div class="navbar-item-custom">
								{% if app.user %}
									<a href="#">Mon compte (
										{{ app.user.Nom }}
										)
									</a>
									{% if is_granted("ROLE_ADMIN") %}
										|
										<a href="{{ path('dashboard')}}">
											Panel Admin
										</a>
									{% endif %}
									|

									<a href="{{ path('app_logout') }}">Déconnexion</a>
								{% else %}
									<a href="{{ path('app_login') }}">Connexion</a>
									|
									<a href="#">Inscription</a>
								{% endif %}
							</div>
							<a href="#"></a>

						</div>
					</nav>
				</header>

			</div>
		{% endblock %}
		<br>
		<br>
		<br>

		<div class="container"> {% block body %}{% endblock %}
			</div>
		</body>
	</html>
</body></html></body></html></body></html></body></html>
