{% extends 'index/base.html.twig' %}
{% block title %}
	{{produit.nom}}
{% endblock %}

{% block body %}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


	<style>

		* {
			box-sizing: border-box;
		}

		body {
			margin: 0;
			padding: 0;
			font-family: 'Open Sans', sans-serif;
			font-size: 16px;
			background: cornsilk;
			color: #333;
		}

		a {
			text-decoration: none;
		}

		.button {
			padding: 10px;
			border-radius: 5px;
			display: inline-block;
			background: steelblue;
			color: white;
			font-size: 12px;
			font-weight: bold;
		}

		.container {
			max-width: 960px;
			width: 100%;
			margin: 0 auto;
		}

		.header {
			overflow: hidden;
			height: 65px;
		}

		.header a {
			color: inherit;
		}

		.header a:hover {
			font-weight: bold;
		}

		.header-logo {
			float: left;
		}

		.header-nav {
			float: right;
		}

		.header-nav ul li {
			display: inline-block;
			margin: 0 20px;
		}

		.products {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
		}

		.product {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			max-width: 310px;
			width: 100%;
			padding: 10px;
			margin-bottom: 10px;
			border-radius: 5px;
			background: azure;
		}


		.product span {
			font-weight: bold;
		}

		.product-image img {
			display: block;
			max-width: 228px;
			width: 100%;
			margin: 0 auto;
		}

		. .row .product:last-child {
			margin-right: 0;
		}

		.product-add-to-cart {
			overflow: hidden;
			clear: both;
			margin-top: 10px;
		}

		.see-more {
			float: left;
			background: indianred;
		}

		.add-to-cart {
			float: right;
		}

		.shopping-cart {
			position: fixed;
			top: 0;
			right: 0;
			width: 300px;
			min-heigh: 300px;
			margin-right: 20px;
			margin-top: 10px;
			padding: 20px;
			background: wheat;
		}

		.shopping-cart-head {
			background: steelblue;
			color: white;
			padding: 5px;
		}

		.shopping-cart,
		.shopping-cart-head {
			border-radius: 5px;
		}

		.empty-cart-btn,
		.cart-checkout {
			display: none;

		}

		.empty-cart-btn {
			margin-bottom: 5px;
		}

		.cart-checkout {
			background: limegreen;
		}
	</style>
	<div class="row">
		<section class="col-sm-6">
			<div>
				<div class="carousel-inner">
					<div>
						<img alt="{{produit.getNom()}}" src="../uploads/{{produit.getNomImage}}">
					</div>

				</div>
			</div>
		</section>
		<section class="col-sm-6">
			<div class="list-group">

				<div class="o-container list-group-item">
					<h3>
						Prix :
						{{ produit.getPrix() }}
						TND</h3>
				</div>


				<div class="o-container list-group-item">
					<fieldset>
						<div class="row">
							<div class="col-xs-6 col-sm-4 col-md-3 o-spacing--off">

								<input class="form-control" style="display:inline" type="number" id="nbr" pattern="[0-9]*" value="1" min="1">
								<br>
								<span style="display:inline">Quantité</span>

							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-6 col-sm-8 col-md-6">
							<button class="btn btn-block btn-lg btn-primary" id="achat">Acheter</button>
						</div>
					</div>
					<script>
						document.getElementById("achat").onclick = function () {
var url = '{{ path("achatproduit", {'id' : produit.getid(), 'qte': 'nbr'}) }}';
valeur = document.getElementById('nbr').value;
url = url.replace("nbr", valeur);
window.location.href = url;
};
					</script>
				</fieldset>
			</div>


			<div class="list-group-item">
				<div>
					<p>
						{{produit.getDescCourt()}}
					</p>

					<p>
						{{produit.getDescLong()}}
					</p>
				</div>

			</div>

		</div>
	</section>
</div>{% endblock %}
