{% extends 'index/base.html.twig' %}
{% block title %}Produits
{% endblock %}

{% block body %}
	<style>
		* {
			box-sizing: border-box;
		}

		body {
			margin: 0;
			padding: 0;
			font-family: 'Open Sans', sans-serif;
			font-size: 16px;
			background: cornsilk;
			color: #333;
		}

		a {
			text-decoration: none;
		}
	</style>
	<h2>Consulter produit par categorie</h2>
	<section class="row">
		{% for produit in produits %}
			<div class="card" style="width: 18rem;margin:10px;">
				<img class="card-img-top" src="../uploads/{{produit.getNomImage()}}" alt="Card image cap">
				<div class="card-body">
					<h5 class="card-title">{{produit.nom}}</h5>
					<p class="card-text">{{produit.getDescCourt()}}</p>
					<p class="card-text">
						{{produit.Prix()}}
						TND</p>


					<a href="{{ path('consulterproduit', {'id': produit.getId()})}}" class="btn btn-primary">Consulter</a>


				</div>
			</div>
		{% endfor %}
	</section>
{% endblock %}
