{% extends 'index/base.html.twig' %}

{% block title %}Hello CompteController!
{% endblock %}

{% block body %}
	<div class="row">
		<h3 class="myaccount-section__title">
			Salut
			{{ client.getnom() }}
			!</h3>
	</div>
	<style>
		.esp {
			margin-right: 100px;
		}
	</style>
	<div class="row">
		<ul class="list-group list-group-horizontal mx-auto ">


			<li class="list-group-item esp d-flex justify-content-between align-items-center">

				<a href="{{ path('comptecommandes') }}" class="text-decoration:none;">Mes commandes<span class="badge badge-primary badge-pill">{{commandes|length}}</span>

				</a>

			</li>
			<li class="list-group-item d-flex justify-content-between align-items-center">
				<a href="#" style="text-decoration:none;">Changer le mot de passe
				</a>

			</li>
			<li class="list-group-item d-flex justify-content-between align-items-center">
				<a href="{{path('compteadresses')}}" class="text-decoration:none;">Mes addresses<span class="badge badge-primary badge-pill">{{adresses|length}}</span>
				</a>

			</li>
		</ul>

	</div>
{% endblock %}
