{% extends 'base.html.twig' %}

{% block title %}Hello CommandeController!
{% endblock %}

{% block body %}
{% if is_granted('ROLE_ADMIN') %}
	<div class="container">
		<h1>Commandes:
		</h1>
		<div class="btn btn-info">


			<a href="{{ path('ajoutercommande')}}" style="text-decoration:none;color:white;">Ajouter une commande</a>

		</div>
	</div>
	{% for message in app.flashes("success") %}
		<div class="alert alert-success">
			{{message}}
		</div>

	{% endfor %}

	<div class="container">
		<table class="table" border="1">
			<tr>
				<div class="row">
					<td>
						<div class="col-">
							ID
						</div>
					</td>
					<td>
						<div class="col-">

							IDclient</div>
					</td>
					<td>
						<div class="col-">

							Date
						</div>
					</td>
					<td>
						<div class="col-">

							Etat
						</div>
					</td>


				</div>
			</tr>
		</td>
	</tr>

	{% for commande in commandes %}
		<tr>
			<div class="row">
				<td>
					<div class="col-">
						{{commande.getId()}}
					</div>
				</td>
				<td>

					<div class="col-">
						{{commande.getIdClientDebug()}}</div>

				</td>
				<td>

					<div class="col-">
						{{commande.getdate()|date('Y-m-d')}}</div>

				</td>
				<td>

					<div class="col-">
						{% if (commande.getetat()) %}
							Livré
						{% else %}
							Non Livré
						{% endif %}
					</div>

				</td>
				<td>
					<div class="col-x">

						<a class="btn btn-danger" href="{{ path('deletecommande', {'id': commande.getId()}) }}">Supprimer</a>


						<br>
						<a class="btn btn-info" href="{{ path('modifycommande', {'id': commande.getId()}) }}">modifier</a>


					</div>
				</td>


			</div>
		</tr>
	</td>
</tr>{% endfor %}</table></div>{% endif %}{% endblock %}
