{% extends 'base.html.twig' %}

{% block title %}Hello ClientController!
{% endblock %}

{% block body %}

<div class="container">
	<h1>Clients:
	</h1>
	<div class="btn btn-info">


		<a href="{{ path('ajoutercategorie')}}" style="text-decoration:none;color:white;">Ajouter une categorie</a>

	</div>
</div>
{% for message in app.flashes("success") %}
	<div class="alert alert-success">
		{{message}}
	</div>

{% endfor %}

<div class="container">
	<table class="table" border="1">
		<tr>
			<div class="row">
				<td>
					<div class="col-">
						ID
					</div>
				</td>
				<td>
					<div class="col-">

						Nom Categorie</div>
				</td>

			</div>
		</tr>
	</td>
</tr>

{% for categorie in categories %}
	<tr>
		<div class="row">
			<td>
				<div class="col-">
					{{categorie.getId()}}
				</div>
			</td>
			<td>

				<div class="col-">
					{{categorie.getNom()}}</div>
			</td>
			<td>
				<div class="col-x">

					<a href="{{ path('deletecategorie', {'id': categorie.getId()}) }}">Supprimer</a>

					<br>
					<a href="{{ path('modifycategorie', {'id': categorie.getId()}) }}">modifier</a>


				</div>
			</td>


		</div>
	</tr>
</td></tr>{% endfor %}</table></div>{% endblock %}
